<label>Bachelor of Architectural Studies - BAS</label>
<div class="container">
    <div class="column box">
        <form [formGroup]="form">
            <div *ngIf="loading" class="loading-shield">Loading</div>
            <div class="mdl-selectfield">
                <label for="faculty">Faculty</label>
                <!-- when we get ng4 https://coryrylan.com/blog/angular-async-data-binding-with-ng-if-and-ng-else-->
                <select name="faculty" formControlName="faculty">
                        <!--<option [selected]="form.controls['faculty'].value == null" value="">-- Select --</option>-->
                        <option disabled value="undefined" class="hideoption">Select a Faculty</option>
                        <option *ngFor="let faculty of faculties$ | async" [ngValue]="faculty">  
                            {{faculty.name}}
                        </option>
                    </select>
            </div>
            <div class="mdl-selectfield">
                <label for="subject">Subject</label>
                <select name="subject" formControlName="subject">
                        <!--<option [selected]="form.controls['faculty'].value == null" value="">-- Select --</option>-->
                        <option disabled value="undefined" class="hideoption">Select a Subject</option>
                        <option *ngFor="let subject of subjects$ | async; trackBy: trackSubject" [ngValue]="subject">  
                            {{subject.name}}
                        </option>
                    </select>
            </div>
            <div class="mdl-selectfield">
                <label for="level">Level</label>
                <select name="level" formControlName="level">
                        <!--<option [selected]="form.controls['subject'].value == null" value="">-- Select --</option>-->
                        <option *ngFor="let level of levels" [ngValue]="level">  
                            {{level.name}}
                        </option>
                    </select>
            </div>
            <div>
                <label for="course">Course</label>
                <select name="course" class="course-select" formControlName="course">
                        <option value="">-- Select --</option>
                        <option *ngFor="let course of allCourses$ |async; trackBy: trackCourse" [ngValue]="course">  
                            {{course.title}} [{{course.code}}]
                        </option>
                    </select>
                
            </div>
             <div *ngIf="form.controls['course'].value">
                <label for="semester">Semester</label>
                <select name="semester" class="semester-select" formControlName="semester">
                        <option value="">-- Select --</option>
                        <option *ngFor="let semester of semesters;" [ngValue]="semester">  
                            {{semester}}
                        </option>
                    </select>                 
                 <button (click)="addCourse()">Add</button>
            </div>
        </form>


    </div>
    <div class="column box">
        <error-list [errors]="errors$"></error-list>
    </div>
</div>
<div class="container">
 
        <div class="column box">
        <total-points [courses]="selectedCourses$" [title]="'Total Points'"></total-points>
     
        <semester-course-list class="box" [courses]="selectedCourses$" [semester]="1" [title]="'Semester One'" (onRemoveCourse)="removeCourse($event)"></semester-course-list>
        <semester-course-list class="box" [courses]="selectedCourses$" [semester]="2" [title]="'Semester Two'" (onRemoveCourse)="removeCourse($event)"></semester-course-list>
        <semester-course-list class="box" [courses]="selectedCourses$" [semester]="3" [title]="'Semester Three'" (onRemoveCourse)="removeCourse($event)"></semester-course-list>
</div> 


</div>