<form [formGroup]="form">

    <div class="mdl-selectfield">
        <label for="faculty">Faculty</label>
       
        <select name="faculty" formControlName="faculty">
                        <!--<option [selected]="form.controls['faculty'].value == null" value="">-- Select --</option>-->
                        <option disabled value="undefined" class="hideoption">Select a Faculty</option>
                        <option *ngFor="let faculty of faculties$ | async" [ngValue]="faculty">  
                            {{faculty.name}}
                        </option>
                    </select>
    </div>
    <div class="mdl-selectfield">
        <label for="subject">Subject</label>
         <div>{{form.controls['subject'].value?.name}}</div>
        <select name="subject" formControlName="subject">
                        <!--<option [selected]="form.controls['subject'].value == null" value="">-- Select --</option>-->
                        <option *ngFor="let subject of subjects$ | async" [ngValue]="subject">  
                            {{subject.name}}
                        </option>
                    </select>
    </div>
    <div class="mdl-selectfield">
        <label for="level">Level</label>
        <select name="level" formControlName="level">
                        <!--<option [selected]="form.controls['subject'].value == null" value="">-- Select --</option>-->
                        <option *ngFor="let level of levels" [ngValue]="level">  
                            {{level.name}}
                        </option>
                    </select>
    </div>    
    <div>
        <label for="course">Course</label>
        <select name="course" class="course-select" formControlName="course">
                        <option value="">-- Select --</option>
                        <option *ngFor="let course of allCourses$ |async" [ngValue]="course">  
                            {{course.title}} [{{course.code}}]
                        </option>
                    </select>
        <button (click)="addCourse()">Add</button>
    </div>

</form>