<div class="g-row">
    <h2>Bachelor of Architectural Studies - BAS</h2>
</div>
<div class="g-row">
    <div class="g-col course-list">
        <h3>Choose Course To Add</h3>
        <form [formGroup]="form">

            <div class="mdl-selectfield">
                <label for="level">Level</label>
                <select name="level" formControlName="level">
                        <option [selected]="form.controls['level'].value == null" value="">-- Select --</option>
                        <option *ngFor="let level of levels" [ngValue]="level">  
                            {{level.name}}
                        </option>
                    </select>

            </div>
            <div class="mdl-selectfield">
                <label for="subject">Subject</label>
                <select name="subject" formControlName="subject">
                        <option [selected]="form.controls['subject'].value == null" value="">-- Select --</option>
                        <option *ngFor="let subject of subjects$ |async; trackBy: trackSubject" [ngValue]="subject.subject">  
                            {{subject.subject}}
                        </option>
                    </select>
            </div>
        
        <div class="mdl-selectfield">
            <div *ngIf="loading">
                <span>Refreshing Course List</span>
            </div>
            <div [ngClass]="{'hidden': loading}">
                <label *ngIf="!loading" for="course">Course</label>
                <select name="course" class="course-select" formControlName="course">
                        <option value="">-- Select --</option>
                        <option *ngFor="let course of filteredCourses$ |async; trackBy: trackCourse" [ngValue]="course">  
                            {{course.title}} [{{course.code}}]
                        </option>
                    </select>
                <button (click)="addCourse()">Add</button>
            </div>
        </div>
        </form>
    </div>

    <div class="g-col">
        <h3>Courses - {{totalPoints}} pts</h3>
        <ul class="courses">
            <li *ngFor="let c of selectedCourses">
                <span>{{c.title}} [ {{c.code}}]</span>
                <button (click)="removeCourse(c.$key)">X</button> </li>
            </ul>
             </div>
   <div class="g-col">
        <h3>Warnings</h3>
        <ul>
            <li *ngFor="let res of results">
                <div *ngIf="!res.passed">
                    {{res.errors[0]}}
                </div>
                </li>
            </ul>
    </div>    
        
</div>